@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
  margin: 0;
  padding: 0;

  /*background-image: url('/img/bg/coffeebg.jpeg');*/
  background-color: #f4f2ec;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Courgette', cursive;
  color: #222;
}

.subpage-content {
    width: min(800px, calc(100% - 2rem));
    margin: 0 auto;
    padding: 2rem 0 3rem;
    /* border: 1px dotted salmon; */
    background: #0000001c;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 40px;
    border: 2px dashed indianred;
  }